.ac{
  overflow: auto;
}



.nav{
  color: #000000;
  text-decoration: none;
  gap: 16px;
  }

.navi{
  color: #000000 ;
  text-decoration: none;
  gap: 24px;
  }

  .nav:active {
  color: black ;
  }

  .nav:hover{
     color: black !important;
     font-weight: bold; 
  }

  .nav.active {
    color: black; 
    font-weight: bold; 
  }

  .navi:active {
  color: black ;
  }

  .navi:hover{
     color: black !important;
     font-weight: bold; 
  }

  .navi.active {
    color: black; 
    font-weight: bold; 
    font-size: 20px;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    color: white;
  }

  .menu{
     background-color: white;
     opacity: 0.9;
  }

  .test{
    background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
    background-color: #74ebd5; 
  }

  .bg-line-menu{
    background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
    background-color: #74ebd5; 
  }
